:root{
    --primary-color:rgb(232, 221, 244);
    --primary-color2:rgb(17, 31, 59);
    --main-text-color:#8a2be2;
    --result-size:40px;
    --side-padding:2vw;
    --calculator-color:rgb(255, 255, 255);
}

body{
    margin: 0;
    padding: 5em 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Arial Narrow', Arial, sans-serif;    
    font-weight: 500;
    overflow-y: hidden;
    background-color: antiquewhite;
}
.wrapper{
    width: 30rem;
    background-color: var(--calculator-color);
    padding-top: 40px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: #8a2be2 2px solid;
}
input{
    width: 98%;
    font-weight: 700px;
    border-radius: 5px;
    text-align: end;
    border: none;
    padding-top: 61px;
    background-color: var(--calculator-color);
    font-size: var(--result-size);
    /* margin:  0 20px; */
    /* padding:0px; */
}

input:focus{
    outline: none;
}
.temp-result{
    height: 3em;
    font-size: 28px;
    text-align: end;
    padding:  0 var(--side-padding);
    font-weight: 500;
    color: rgb(182, 179, 179);
}
nav{
    font-weight: 600;
    display: block;
}
ul{
    display: flex;
    justify-content: space-around;
}
ol{
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    cursor: pointer;
}
ol:first-child{
    color:var(--main-text-color);
    border-bottom: 2.3px solid;
    /* text-decoration: underline; */
}
ol:hover{
    color: var(--main-text-color);
}

.buttons{
    background-color: var(--primary-color);   
    cursor: pointer;
    padding: 20px 20px ;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 10px 10px;
}

.blue-btn{
    color: var(--main-text-color);
}
.btn-row{
    display: flex;
    justify-content: space-around;
}

#wrapper1{
    /* display: none; */
}
#wrapper2{
    /* display: none; */
}
span{
    padding: 5px 10px;
    font-size: 2em;
    width: 30px;
    text-align: center;
    display: inline;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    margin: 0 30px;
    transition: background-color 0.5s ease-in-out;
}

span:hover{
   background-color: rgba(217, 190, 244,0.5); 
   /* font-size: 50px; */
}

#backspace{
    padding: 0;
    text-align: left;
}

@media (max-width:450px) {
    body{
        padding: 0 0;
        height: 90%;
    }
    .wrapper{
        height: 68vh;
        /* width: 100vw; */
        border-radius: 0;
    }

    input{
        width: 93%;      
    }
    .temp-result{
        padding:  0 42px;
    }
}