:root{
    --primary-color:rgb(232, 221, 244);
    --primary-color2:rgb(17, 31, 59);
    --main-text-color:#8a2be2;
    --result-size:40px;
    --side-padding:2rem;
    --calculator-color:rgb(255, 255, 255);
}

*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 5em 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Arial Narrow', Arial, sans-serif;    
    font-weight: 500;
    overflow-y: hidden;
    background-color: rgb(212, 231, 230);
}
#wrapper{
    width: 30rem;
    background-color: var(--calculator-color);
    padding-top: 40px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: #8a2be2 2px solid;

}

input{
    width: 98%;
    font-weight: 700px;
    border-radius: 5px;
    text-align: end;
    border: none;
    padding-top: 61px;
    background-color: var(--calculator-color);
    font-size: var(--result-size);
    /* margin:  0 20px; */
    /* padding:0px; */
}

input:focus{
    outline: none;
}
.temp-result{
    height: 3em;
    font-size: 28px;
    text-align: end;
    padding:  0 var(--side-padding);
    font-weight: 500;
    color: rgb(182, 179, 179);
}
nav{
    font-weight: 600;
    display: block;
}
ul{
    display: flex;
    justify-content: space-around;
}
ol{
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    cursor: pointer;
}
.selected{
    color:var(--main-text-color);
    border-bottom: 2.3px solid;
    /* text-decoration: underline; */
}
ol:hover{
    color: var(--main-text-color);
}

.buttons{
    background-color: var(--primary-color);   
    cursor: pointer;
    padding: 20px 20px ;   
    border-radius: 0 0 10px 10px;
}

.buttons1{
    display: flex;
    flex-wrap: wrap;
}
/* .buttons2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.buttons2:nth-child(7){
    grid-template-columns: 1fr 1fr 2fr;
} */
.blue-btn{
    color: var(--main-text-color);
}
.btn-row{
    display: flex;
    justify-content: space-around;
}
.btn-row2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#wrapper1{
    /* display: none; */
}
#wrapper2{
    display: none;
}

#wrapper3{
    display: none;
}
span{
    padding: 5px 10px;
    font-size: 2em;
    width: 30px;
    text-align: center;
    display: inline;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    margin: 0 30px;
    transition: background-color 0.5s ease-in-out;
}
.back{
    /* border: 2px solid var(--main-text-color); */
    /* text-decoration: underline 2px; */
}



.back::before{
    content: "<";
}

span:hover{
   background-color: rgba(217, 190, 244,0.5); 
   /* font-size: 50px; */
}

/* exchange-style */


.exchange-input{
    width: 40%;
    padding: 0;
    cursor: pointer;
}

.exchange-row{
    display: flex;
    padding: 50px var(--side-padding) 0 var(--side-padding);
}

.exchange-row>h3{
    height: 50px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.exchange-row>div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

#wrapper2>.buttons{
    margin-top: 20px; 
}

/* Unit converter */

#wrapper3{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    padding: 30px 0 110px 0;
    display: none;
}

#wrapper3>div{
    width: 80%;
    padding: 0 30px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

#wrapper3 img{
    margin: auto;
    width: 40px;
    aspect-ratio: 1/1;
}
#wrapper3>div:hover{
    opacity: 0.6;
}

#wrapper3 img:hover{
   opacity: 0.6;
}

#converter-container{
    width: 30rem;
    background-color: var(--calculator-color);
    padding-top: 10px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: #8a2be2 2px solid;
    cursor: pointer;
    display: none;
}

@media (max-width:450px) {
    body{
        padding: 0 0;
        height: 90%;
    }
    .wrapper{
        height: 68vh;
        /* width: 100vw; */
        border-radius: 0;
    }

    input{
        width: 93%;      
    }
    .temp-result{
        padding:  0 42px;
    }
}